@font-face {
    font-family: "Montserrat";
    src: url('/static/fonts/Montserrat-Regular.ttf') format('truetype');
}

body {
    font-family: "Montserrat";
    height: 100vh;
    background-color: #5A5A66;
}

.nav-link {
    color: white !important;
}

.active {
    font-weight: bold !important;
}

#content {
    color: white;
    background: #00000014;
}
