body.projects {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ), url("/images/c_office.jpg");


    background-size: cover;

    background-repeat: no-repeat;
    background-attachment: fixed;

    color: white;
}